* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/clock.png');
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0px -15px 15px rgba(255, 255, 255, 0.05),
    0px 15px 15px rgba(0, 0, 0, 0.05), inset 0px 15px 15px rgba(0, 0, 0, 0.05);
}

.clock::before {
  content: '';
  position: relative;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  z-index: 1000;
}

.clock .hour,
.clock .minute,
.clock .second {
  position: absolute;
}

.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}

.clock .minute,
.mn {
  width: 190px;
  height: 190px;
}

.clock .second,
.s {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.s {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 80px;
  background: #ff150e;
  border-radius: 6px;
}

.mn::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100px;
  background: white;
  border-radius: 8px;
}

.s::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 120px;
  background: white;
  border-radius: 8px;
}
